* {

}

body {

}

.jumbotron {
  background-color: #2a2a57;
  color: white;
  margin: 10px 0px 5px 0px;
}

.card {
    margin: 5px 0 5px 0;
}

.card-header {
  background-color: lightgray;
  color: black;
}
